*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.top-banner{
    background-image: url(images/donation14.webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.top-banner h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
    padding-top: 240px;
}
.top-banner p{
    color: white;
    padding: 10px 0;
    font-size: 20px;
    margin-bottom: 30px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    color: white; 
    font-weight: 700;
}
.donate-today{
    margin-top: 150px;
    margin-bottom: 150px;
}
.heading-text{
    text-align: center;
}
.heading-text h2{
    font-size: 50px;
    font-weight: 700;
}
.heading-text p{
    padding: 20px 0;
    display: inline-block;
    margin: 0 20%;
}
.amount{
    display: flex;
    justify-content: center;
}
.tk{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    height: 130px;
    width: 150px;
    margin: 20px;
}
#marked-tk{
    border: 1px solid orangered;
    background-color: #FFEEEE;
}
.enter-amount{
    display: flex;
    justify-content: center;
}
.input-tk{
    margin-top: 30px;
    outline: 0;
    border: 0;
}
hr{
    width: 60%;
    margin-left: 20%;
}
.button{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.plans-box{
    display: flex;
    justify-content: center;
}
.box{
    height: 300px;
    width: 360px;
    margin: 15px;
    padding: 20px 20px 0 20px;
    background-color: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}
.box img{
    margin-top: 40px;
}
.donate-plan{
    margin-bottom: 150px;
}
.divide{
    display: flex;
}
.half-width{
    width: 40%;
    padding-left: 5%;
}
.half-width img{
    width: 85%;
    height: 320px;
    border-radius: 5px;
    }
    .half-width h2{
        font-size: 40px;
        margin-bottom: 10px;
        font-weight: 600;
    
    }
    .half-width p{
        color: #707070;
        font-size: 18px;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .bonus-sec{
        margin-bottom: 150px;
    }
    .subscribe-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin: 0 auto;
        height: 200px;
        border-radius: 5px;
        background-color: #fff4d6;
        margin-top: 60px;
        margin-bottom: 150px;
    }
    .subscribe-btn{
        text-decoration: none;
        background-color: tomato;
        padding: 8px 40px;
        border-radius:0 5px 5px 0;
        color: white;    font-weight: 700;
    }
    .designed-input{
        width: 300px;
        height: 38px;
        padding-left: 10px;
        outline: 0;
        border: 0;
        border-radius: 5px 0 0 5px;
        background-color: #d9d9d9;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 177px;
        background-color: black;
        
    }
    .footer-text{
        font-family: 'Tangerine', cursive;
        color: tomato;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
    }
    footer p{
        color: white;
    }